<footer class="footer py-3 mt-auto" style="background-color: #333">
  <div class="container">
    <span class="text-dark-50" style="color: whitesmoke"
      >&copy;VanturePic 2024</span
    >
  </div>
</footer>
