<% layout('layouts/boylerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css " />
<div class="row mb-3">
  <% for (const post of posts) { %>
  <div class="card col-3 m-1">
    <% if (post.images.length) {%>
    <img
      crossorigin="anonymous"
      src="<%= post.images[0].url %>"
      class="card-img-top index pt-3"
      alt=""
    />
    <% }else{ %>
    <img
      crossorigin="anonymous"
      class="card-img-top index pt-3"
      src="https://res.cloudinary.com/daiuoiqvv/image/upload/v1737219082/VanturePic/r5jyjnt4npp6b8vyto4v.jpg"
      alt=""
    />
    <% } %>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-secondary">
          @<%= post.author.username %>
        </li>
      </ul>
      <div class="card-body">
        <a href="/vanturepics/<%= post.id %>" class="btn btn-light"
          >View Post</a
        >
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <% } %>
</div>
